body{
    font-family: 'IM Fell Great Primer', serif;
    font-size: 16pt;
    color: #333;
} 

.main-nav {
    padding-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.main-nav a {
    font-size: 16pt;
    text-align: center;
    text-decoration: none;
    color: #f78400;
    text-shadow: 0 2px 0 #EEE;
}

.main-nav a:hover {
    color: #666;
}

.home {
    color: #666;
    font-size: 16pt;
    padding-top: 10px;
}

.home:hover {
    color: #f78400;
}

.index {
    text-align: center;
}


h1 {
    font-size: 30pt;
}

h1.title {
    margin-top: 15px;
}

h2 {
    font-size: 26pt;
}

h3 {
    font-size: 22pt;
}

h3 a {
    font-size: 26pt;
    color: #333;
    text-decoration: none;
}

h3 a:hover {
    color: #f78400;
}

a {
    color: #f78400;
    text-shadow: 0 2px 0 #EEE;
    text-decoration: none;
}

a:hover {
    color: #666;
}

section .content img {
    text-align: center;
}

footer {
    font-size: 8pt;
    margin-top: 20px;
    text-align: center;
}

time {
    font-size: 12pt;
    color: #999;
}

.tags {
    font-size: 12pt;
    list-style: none;
}

.tags li {
    list-style: none;
    margin-left: 0px;
    float: left;
    padding-right: 5px;
}

.tags li a:before {
    content: '\00AB';
}

.tags li a:after {
    content: '\00BB';
} 

.post_nav {
    font-size: 12pt;
}

.post_nav .disabled {
    color: #333;
}

a.prev:before {
    content: '\00AB';
}

a.next:after {
    content: '\00BB';
}

#twitter_share {
    margin-right: 5px;
    float:left;
}

.blogpost {
    text-align: center;
}

.listingtitle {
    margin-top: 10px;
}
