{% macro render_projectexcerpt(res, class=None) %}
{% refer to res.url as post %}
<article {{'class='~class if class }}>
<h3 class="listingtitle"><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h3>
<a href="{{ content_url(res.url) }}">{{ post.image|markdown|typogrify }}</a>
{{ post.excerpt|markdown|typogrify }}
</article>
{% endmacro %}

{% macro render_excerpt(res, class=None) %}
{% refer to res.url as post %}
<article {{'class='~class if class }}>
<time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
    Posted: {{ res.meta.created.strftime('%a, %d %b %Y') }}
</time>
<h3 class="listingtitle"><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h3>
<a href="{{ content_url(res.url) }}">{{ post.image|markdown|typogrify }}</a>
{{ post.excerpt|markdown|typogrify }}
</article>
{% endmacro %}

{% macro render_nav(menu) -%}
{% if menu -%}
<nav class="main-nav col_3 last">
    {% for item in menu -%}
    {% set active = False -%}
    {% if item.type == 'page' -%}
        {% set active = (resource.url ==
            site.content.resource_from_relative_path(item.url).url) -%}
    {% else -%}
        {% set active = (node ==
            site.content.node_from_relative_path(item.url)) -%}
    {%- endif %}
    {% do classes.append('active') if active -%}
        <a title="{{ item.description }}"
            class="{{ classes|join(' ') }}"
            href="{{ content_url(item.url) }}">
            {{ item.name }}
        </a>{% if not loop.last %} - {% endif %}
    {%- endfor %}
</nav>
{%- endif %}
{%- endmacro %}
