{% extends "base.j2" %}

{% block main %}
<section class="archives">
<h2 class="tag title">{{ tag.name }}</h2>
<article class="post">
<ul class="posts clear">
{% for resource in walker() -%}
{% refer to resource.url as post %}
<div class="blogpost col_4{% if loop.index % 3 == 0 %} last{% endif %}">
    <article>
        <time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
            {{ resource.meta.created.strftime('%a, %d %b %Y') }}
        </time>
        <h3 class="listingtitle"><a href="{{ content_url(resource.url) }}">{{ resource.meta.title }}</a></h3>
        <a href="{{ content_url(res.url) }}">{{ post.image|markdown|typogrify }}</a>
        {{ post.excerpt|markdown|typogrify }}
    </article>
</div>

{%- endfor %}
</section>
{% endblock %}
